* {
 box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #F95758;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  padding: 12.8px;
  padding: .8rem;
  margin-bottom: 200px;
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: white;
  color: #F95758;
}

button:focus {
  outline: none;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: normal;
}

h2, h3 {
  font-weight: 600;
}

section {
  margin-bottom: 5rem;
}

.code {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  margin-bottom: 15px;
}

.transitions-click .code {
  padding-top: 0;
  margin-top: 0;
}

.transitions .code,
.transitions-click .code {
  text-align: left;
  padding: 1rem;
  display: inline-block;
}

.col-md-4 {
  height: 300px;
}

.bug {
  opacity: 1;
  width: 100px;
  height: 100px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bug-no-trans {
  transition: none;
}

.bug-t:hover,
.faded {
  opacity: 0;
}

.translateX.transformed {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.translateY.transformed {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.scale.transformed {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.rotate.transformed {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rotate-neg.transformed {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.skew.transformed {
  -webkit-transform: skew(30deg, 30deg);
          transform: skew(30deg, 30deg);
}

.rotateY.transformed {
  -webkit-transform: transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.combo-2.transformed {
  -webkit-transform: translateY(50px) rotateY(180deg);
          transform: translateY(50px) rotateY(180deg);

}
